lowbody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
main{
    width: 80vw;
    max-width: 1200px;
    height: 100vh;
    background-color: black;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

.banner-estatico{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/*tablets*/

@media (min-width:679px) and (max-width:1023px){
    main{
        max-width: 90vw;
        padding: 15px;
        background-color:orange;
    }
}

/*celulares*/

@media (max-width:678px){
    main{
        width: 95vw;
        padding: 10px;
        background-color:green;
    }
}
